    </main>

    <footer>
        <div class="debug">
            <p><%= user ? JSON.stringify(user) : '目前 req.session 中暂无用户信息' %></p>
        </div>
    </footer>

    <% if (locals.script_name) { %>
        <script type="module" src="/js/<%= script_name %>"></script>
    <% } %>
</body>
</html>