export PORT="3000"
export DB_HOST="localhost"
export DB_USER="postgres"
export DB_PASSWORD="Cisco123"
export DB_NAME="db6"
export DB_PORT="5432"
export SALT_ROUNDS="8"
export GOOGLE_CLIENT_ID="443193711141-123gg4t9i5abkb.apps.googleusercontent.com"
export GOOGLE_CLIENT_SECRET="GOCSPX-i-123"
export SESSION_SECRET="top_secret"