    </main>

    <footer>
        <p>©2025 by Ada. Powered by Express.js - Final Version</p>
    </footer>

    <% if (locals.script_name) { %>
        <script type="module" src="/js/<%= script_name %>"></script>
    <% } %>
</body>
</html>