<%- include('./partials/header.ejs') %>

<div id="container" class="container">
  <h1><%= title %></h1>
  <p>这是管理员才能看到的界面</p>
  <div class="button-group">
    <button onclick="window.location.href = '/'">Back to Home</button>
  </div>
</div>

<%- include('./partials/footer.ejs') %>
