<%- include('./partials/header') %>

<div id="container" class="container">
  <img src="/images/<%= image_name %>" alt="error image" />
  <div class="button-group">
    <button onclick="window.location.href = '/'">Back to Home</button>
  </div>
</div>

<%- include('./partials/footer') %>
